

/* Cart button */
button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cart-btn {
  background-color: var( --primary-color);
  padding: 12px 20px;
}

.cart-btn a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 16px;
}

.cart-btn:hover {
  background-color: #5b89bf;
}