/* General styles */
:root {
  --primary-color: #8bb8e5;
  --primary-text-color: #1e1e1e;
  --primary-border-color: #d9d9d9;
  --neutral-bg-color: #e3e3e3;
  --neutral-border-color: #767676;
}

p,
button,
textarea,
input,
a {
  font-family: sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--primary-border-color);
  z-index: 1000;
}

header form {
  display: flex;
  width: 40%;
}

header form input {
  padding: 12px 16px;
  border: 1px solid var(--primary-border-color);
  border-radius: 9999px;
  width: 100%;
}

header nav {
  display: flex;
}

header nav a {
  padding: 8px;
  text-decoration: none;
  color: var(--primary-text-color);
}
header nav a:hover {
  background-color: var(--primary-color);
  border-radius: 8px;
}
header nav a#about {
  margin-right: 32px;
}

#sign-in-btn {
  background-color: var(--neutral-bg-color);
  border: 1px solid var(--neutral-border-color);
  border-radius: 8px;
}
#sign-in-btn:hover {
  background-color: var(--primary-color);
}

#register-btn {
  margin-left: 12px;
  background-color: var(--primary-color);
  border: 1px solid var(--neutral-border-color);
  border-radius: 8px;
}
#register-btn:hover {
  background-color: var(--neutral-bg-color);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--primary-text-color);
  color: white;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-top: auto;
}

footer p {
  padding: 32px 32px 160px 32px;
  color: var(--neutral-bg-color);
}
