/* DESIGN FOR ALL CARDS */
.card {
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  padding: 1rem;
  cursor: pointer;
  display: grid;
  width: 270px;
  box-sizing: border-box;
}
.card:hover {
  box-shadow: 0 0 8px 2px var(--hover-color);
}

.image-container {
  width: 100%;
  height: 250px;
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.course-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.course-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 12px 0;
  color: var(--primary-text-color);
}

.wrapper-tag {
  text-decoration: none;
  display: block;
}

.discounted-price {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: var(--primary-text-color);
  display: inline-block;
}

.course-price {
  font-size: 14px;
  color: #999;
  font-weight: normal;
  text-decoration: line-through;
  margin: 0 0 0 8px;
  display: inline-block;
}

.provider {
  font-size: 14px;
  color: var(--neutral-border-color);
  margin: 8px 0 0 0;
}

.provider-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary-border-color);
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.provider-select:hover {
  background-color: var(--hover-color);
}

.add-to-cart-button {
  background-color: var(--primary-color);
  border: 1px solid var(--neutral-border-color);
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background-color: var(--blue-hover-color);
}

/* Mobile view */
@media (max-width: 1250px) {
  .card {
    width: 270px;
    min-width: 260px;
    margin: 0 0.5rem 0 0;
    flex: 0 0 auto;
  }
}
