body {
    box-sizing: border-box;
}

.comparisons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.course {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    align-items: flex-start; 
}

.course.y {
    border-left: 1px solid black;
    padding-left: 20px;
}

.carouselHolder {
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add space between course content and carousel */
    width: 100%;
}

.similarCourses {
    width: 100%;
    background-color: white;
}


.top {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start; 
    width: 100%;
    gap: 20px; 
}

.imageWrapper {
    width: 40%; 
    height: auto;
    display: inline-block;
}

.textAndButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-grow: 1;
}

.textContainer {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: 100px; 
}

#Remove, #Add {
    border: none;
    padding: 10px 20px; 
    text-align: center;
    display: inline-block;
    width: auto; 
    min-width: 120px; 
    font-size: 14px; 
    cursor: pointer; 
    background-color: #007BFF; 
    color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    white-space: nowrap; 
}

#Remove:hover, #Add:hover {
    background-color: #0056b3; 
}
