/* General styles */
:root {
  --primary-color: #8bb8e5;
  --primary-text-color: #1e1e1e;
  --primary-border-color: #d9d9d9;
  --neutral-bg-color: #e3e3e3;
  --neutral-border-color: #767676;
  --hover-color: #e0e0e0;
  --blue-hover-color: #d6e6ff;
}

p,
button,
textarea,
input,
a,
span,
label {
  font-family: sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
  background-color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--primary-border-color);
  z-index: 1000;
}

#logo-header {
  width: 40px;
}

#header-form {
  display: flex;
  width: 40%;
  border: 1px solid var(--primary-border-color);
  border-radius: 9999px;
  padding: 12px 16px;
}

#search-bar {
  border: none;
  width: 100%;
}

#search-btn {
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 1rem;
  cursor: pointer;
}

#hamburger-icon,
#x-icon {
  display: none;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

#header-nav {
  display: flex;
}

.header-link {
  padding: 8px;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: 0.3s ease-in-out;
}
.header-link:hover {
  background-color: var(--hover-color);
  border-radius: 8px;
}
#about {
  margin-right: 32px;
}

#sign-in-btn {
  background-color: var(--neutral-bg-color);
  border: 1px solid var(--neutral-border-color);
  border-radius: 8px;
}
#sign-in-btn:hover {
  background-color: var(--hover-color);
}

#register-btn {
  margin-left: 12px;
  background-color: var(--primary-color);
  border: 1px solid var(--neutral-border-color);
  border-radius: 8px;
}
#register-btn:hover {
  background-color: var(--blue-hover-color);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--primary-text-color);
  color: var(--neutral-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

footer .wrapper {
  padding: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#logo-footer {
  width: 50px;
}

footer .wrapper .inner-wrapper {
  grid-column: span 2;
}

.footer-text,
#contact-link {
  color: var(--neutral-bg-color);
}

/* Mobile styles */
@media (max-width: 768px) {
  /* Header */
  header a {
    font-size: 0.7rem;
  }

  header form {
    width: 60%;
  }

  #hamburger-icon {
    display: block;
  }

  header nav {
    display: none;
  }

  header nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    width: 99%;
    background-color: white;
    border: 1px solid var(--primary-border-color);
    border-radius: 8px;
    gap: 1rem;
  }

  header nav.active a {
    border-radius: 8px;
    border: 1px solid var(--primary-border-color);
    background-color: var(--neutral-bg-color);
  }

  header nav.active a,
  #about,
  #sign-in-btn,
  #register-btn {
    margin: 0 1rem;
  }

  #cart {
    margin-top: 1rem;
  }

  #register-btn {
    margin-bottom: 1rem;
  }

  /* Footer */
  footer .wrapper {
    padding: 32px;
    grid-template-columns: 1fr;
  }
}
